img{
    width: 400px;
    height: 400px;
    filter: grayscale(100%);
    transition: 1s ease-in;
    filter: blur(10px);
    filter: brightness(90%);
}

img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    filter: blur(0px);
    filter: brightness(200%);
    
}