p{
    color: rgb(68, 0, 255);
}

#p1{
    color: tomato;
    background-color: black;
}

.t1{
    color: aquamarine;
    background-color: burlywood;
}

h4,h5,h6{
    color: brown;
    font-size: 18px;
    stroke: black 1px solid;
}